@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "lato", sans-serif;
}

.test {
  margin-bottom: 10px;
}

.MuiPaper-elevation1 {
  box-shadow: none !important;
}
